---
Language: Cpp
BasedOnStyle: Google

# AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
BreakBeforeBraces: Custom
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: false

IndentPPDirectives: AfterHash
IndentCaseLabels: false

AccessModifierOffset: -4
TabWidth:        4
ObjCBlockIndentWidth: 4
IndentWidth:     4

# AllowShortBlocksOnASingleLine: Never

AllowShortFunctionsOnASingleLine: None

AlwaysBreakTemplateDeclarations: false

# DerivePointerAlignment: false
AlignConsecutiveAssignments: true

AlignTrailingComments: true

IncludeBlocks: Preserve